<% books.forEach(book => { %>
    
    
    <div class="card">
        <h5 class="card-header"><%=book.title%></h5>
        <div class="card-body">
          <h5 class="card-title">Author: <%=book.authors%> </h5>
          <p class="card-text">ISBN13: <%=book.ISBN13%> </p>
          <% var ISBN = book.ISBN13%> 
          <form method="post" action="/Recommend">
            <input type="hidden" name="key" value="<%=book.ISBN13%> ">
          <button type="submit" value="Get Recommendations" class="btn btn-success">Get Recommendations</button>
          </form>
          <form method="post" action="/fetchresult">
            <input type="hidden" name="query" value="<%=book.ISBN13%> ">
            <button type="submit" value ="Fetch" class="btn btn-info">Search online</button>
          </form>
        </div>
      </div>
  
    
      <br>
      <br>
<% }) %>