<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>eLibrary VIT Chennai</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<!-- views/partials/header.ejs -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">eLibrary</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/Search">Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Fetch">Fetch</a>
        </li>
    </div>
  </nav>
  <br>
<% if (books.length ==0) { %>
    <div class="alert alert-danger container" role="alert">
       <p> No result Found. Please search again </p> <br>
        
      </div>
      <div class="container">
      <a href="/search"><button type="button" class="btn btn-primary">Go back to Search</button></a>
    </div>
<% } %>
<div class="container">
<% books.forEach(book => { %>
    
    
    <div class="card">
        <h5 class="card-header"><%=book.title  %></h5>
        <div class="card-body">
          <h5 class="card-title">Author: <%= book.authors %> </h5>
          <p class="card-text">ISBN13: <%= book.ISBN13 %> </p>
          <% var ISBN = book.ISBN13 %> 
          <form method="post" action="/Recommend">
            <input type="hidden" name="key" value="<%= book.ISBN13 %> ">
          <input type="submit" value="Get Recommendations">
          </form>
          <form method="post" action="/fetchresult">
            <input type="hidden" name="query" value="<%= book.ISBN13 %> ">
          <input type="submit" value="Fetch">
          </form>
        </div>
      </div>
  
    
      <br>
      <br>
<% }) %>

</div>
<!-- views/partials/footer.ejs -->
<p class="text-center text-muted">© Copyright 2019 Sahil Arora, S.V, Aditya Hemant</p>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>